.ui.label {
  vertical-align: baseline;
  margin: 0em 0.14285714em;
  text-transform: none;
  padding: 0.1em 0.35em;
  border: 0px;
  border-radius: 10px;
  background-color: #292929 !important;
  color: #bbbbbb !important;
  &:first-child {
    margin-left: 0em;
  }
  &:last-child {
    margin-right: 0em;
  }
  &.small {
    font-size: 0.8em;
  }
  &.mini {
    font-size: 0.6em;
  }
}